<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>
<form th:action="@{/createAccount}" th:object="${createAccountForm}" method="post">
    <p>
        <input type="text" name="firstName" placeholder="Enter first name">
    </p>
    <p>
        <input type="text" name="lastName" placeholder="Enter last name">
    </p>
    <p>
        <input type="email" name="email" placeholder="Enter email">
    </p>
    <p>
        <input type="text" name="personNumber" placeholder="Enter person number">
    </p>
    <p>
        <input type="text" name="username" placeholder="Enter username">
    </p>
    <p>
        <input type="password" name="password" placeholder="Enter password">
    </p>
    <button type="submit">Submit</button>
</form>
</body>
</html>