<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Oops! Something went wrong.</title>
</head>
<body>
<main layout:fragment="content">
    <div>
        <p th:text="${errorType}">Welcome to the error page! If you're seeing this, the specific error information didn't load.</p>
    </div>

</main>
</body>
</html>