<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/viewParts/layout}">
<head>

    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<main layout:fragment="content">
<h1>Login page</h1>
<div sec:authorize="hasRole('ROLE_APPLICANT')">
    <a th:href="@{/homeApplicant}">Home</a>
</div>
<div sec:authorize="hasRole('ROLE_RECRUITER')">
    <a th:href="@{/homeRecruiter}">Home</a>
</div>

<div sec:authorize="isAnonymous()">
    <div>
        <form th:action="@{/login}" th:object="${loginForm}" method="post">
            <p>
                Please enter user credentials
            </p>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <p>
                <!--            TODO Use Labels with styling?-->
                <!--            <label>Username:-->
                <input type="text" name="username" placeholder="Enter username">
                <!--            </label>-->
            </p>
            <p>
                <!--            <label>Password:-->
                <input type="password" name="password" placeholder="Enter password">
                <!--            </label>-->
            </p>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div>
        <h1>Create account </h1>
        <form th:action="@{/createUser}" method="get">
            <div class="row button">
                <input type="submit" value="Create Account">
            </div>
        </form>
    </div>
</div>
</main>
</body>
</html>