<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<section>
    <h1>Login </h1>
    <p class="info">Please enter user credentials</p>

    <form th:action="@{/login}" th:object="${loginForm}" method="post">
        <p th:if="${error}" class="error">UserName & Password Incorrect</p>
        <div class="row">

            <input type="text" name="username">
        </div>
        <div class="row">

            <input type="password" name="password">
        </div>
        <div class="row button">
            <input type="submit" value="Login">
        </div>
    </form>

</section>
<section>
    <h1>Create user </h1>
    <form th:action="@{/createUser}"  method="get">
        <div class="row button">
            <input type="submit" value="Create Account">
        </div>
    </form>
</section>


</body>
</html>